*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}
body #application{
    width: 680px;
    height: 590px;
    padding: 0;
    margin: auto;
    background-image: url("../images/app-views/user0.PNG");
}
