
*{
    margin:0;
    padding: 0;
}

body{
    padding-top: 5vh;
    background-image: url("../images/valley.png");
    text-align: center;
}
.form-container{

    padding: 10px 20px;
    display:inline-block;

}

.form-container ul{

    padding: 60px 50px;
    box-shadow: 0 0 10px 0 black;
    border-radius: 20px;
    list-style: none;
}
.notice{

    color:white;
    text-shadow: 0 0 2px black;
    font-size: 100px;

}


#login-section{

    padding-top: 10vh;

}
ul li, ul li input{

    background-color: transparent;
    border-color: transparent;

}

ul li input{

    box-shadow:  0 0 10px black;
    border-radius: 10px;
    padding: 10px 20px 5px 20px;
    margin: 10px 20px 5px 20px;

}

#login-list input{

    font-size: 20px;

}




.button{

    box-shadow: none;
    border-radius: 20px;
    border: 1px solid black ;
    margin-top: 10px;
    transition: 1s;
    padding: 10px 20px;
    display: block;

}

.button:hover{

    transition: 1s;
    background-color: white;
    border-color:green;
    color:green;


}



