*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


html{


    background-image: url("../images/lake.png");

}

ul{

    list-style: none;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
    margin:auto;
    width: 200px;
    padding: 20px;



}

.button,.button2{

    box-shadow: 0 0 0 0 transparent;
    border-radius: 20px;
    border: 1px solid black ;
    margin-top: 10px;
    transition: 1s;
    padding: 3px 10px;




}

.button:hover,.button2:hover{

    transition: 1s;
    background-color: white;
    border-color:green;
    color:green;


}

.form-container ul li{

    padding-bottom: 10px;

}

.form-container{

   padding-top: 100px;

}
.form-container ul li input{

    font-size: 100%;

}


.welcome{

    font-size: 50px;
    text-shadow: 0 0 10px black;

}



ul li,input{

    text-align:center;
    margin: auto;

}


html{

    color: white;

}
input{

    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;

}





